<div class="secondary-content">
    <h1>Search</h1>
    <input type="text" id="search-input" placeholder="Search...">
    <ul id="search-results"></ul>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');

    const posts = [
        {% for post in site.posts %}
        {
            "title": "{{ post.title | escape }}",
            "url": "{{ post.url }}",
            "content": "{{ post.content | strip_newlines | escape }}"
        }{% if forloop.last == false %},{% endif %}
        {% endfor %}
    ];

    searchInput.addEventListener('input', function() {
        const query = searchInput.value.toLowerCase();
        searchResults.innerHTML = '';

        const filteredPosts = posts.filter(post => post.content.toLowerCase().includes(query));

        if (filteredPosts.length > 0) {
            filteredPosts.forEach(post => {
                const li = document.createElement('li');
                const a = document.createElement('a');
                a.href = post.url;
                a.textContent = post.title;
                li.appendChild(a);
                searchResults.appendChild(li);
            });
        } else {
            searchResults.innerHTML = '<li>No results found</li>';
        }
    });
});
</script>
