@font-face {
  font-family: 'Orbit-Regular';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('Orbit-Regular.woff2') format('woff2');
}

:root {
  --border-color: black;
  --hover-color: #007cb8;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Orbit-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease, background-color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
  background-color: white;
}

h1, h2 {
  margin: 0;
}

.border {
  border: 1px solid var(--border-color);
}

.post-content, .post-header, .primary-content, .secondary-content {
  width: 50vw;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}

.side-menu, .additional-side-menu {
  min-height: 100vh;
  background-color: var(--hover-color);
}

.side-menu {
  width: 20vw;
  border-right: 1px solid var(--border-color);
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  height: 100vh; /* 화면 전체 높이 차지 */
  overflow-y: auto; /* 내용이 많을 때 스크롤 가능 */
}

.side-menu ul, .additional-side-menu ul {
  list-style: none;
}

.side-menu ul li a, .additional-side-menu ul li a {
  display: block;
  color: black;
  transition: background-color 0.3s ease;
}

.side-menu ul li a:hover {
  color: var(--hover-color);
  background-color: white;
}

.additional-side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 3vw;
  padding: 0.7vw;
  border-left: 1px solid var(--border-color);
  box-sizing: border-box;
}

.additional-side-menu ul li a:hover {
  color: white;
}

.additional-side-menu ul li a i {
  font-size: 2rem;
  margin: 10px;
}

.side-title {
  transform: rotate(90deg) !important;
  transform-origin: left top !important;
  padding-top: 10% !important;
  padding-left: 90% !important;
  white-space: nowrap !important;
  font-size: 20px !important;
}

.grid-container {
  display: grid;
  width: 20vw;
  background-color: var(--hover-color);
}

.grid-item {
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  padding: 2vw;
  font-size: 1.7rem;
  transition: background-color 0.3s, color 0.3s;
}

.grid-item:hover, .grid-item a:hover {
  color: var(--hover-color);
  background-color: white;
}

.main-content {
  margin-left: 20vw; /* side-menu의 너비만큼 왼쪽 여백 추가 */
  width: calc(100% - 20vw); /* Adjusted width to exclude side-menu */
  flex: 1;
  display: flex;
  flex-direction: row; /* Ensure children are laid out in a row */
  background-color: #fff;
  box-sizing: border-box;
}

.primary-content, .content {
  width: 50vw; 
  max-width: 50vw !important;
  box-sizing: border-box;
}

.content h2, .secondary-content h2 {
  font-size: 1.4em;
}

.primary-content p, .content p, .secondary-content p {
  line-height: 2.1;
}

.secondary-content {
  width: 27vw; !important;
  flex: 1;
  display: flex;
  background-color: #fff;
  border-left: 1px solid var(--border-color);
}

.h-entry, #search-bar, header, footer, fieldset, section {
  padding: 20px;
}

#search-bar {
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#search-bar #search-input {
  width: 200px;
  border: none;
  line-height: 44px;
  outline: none;
}

header {
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}

header h1 {
  font-size: 1.8rem;
}

footer {
  width: 3vw;
}

.horizontal {
  writing-mode: horizontal-tb;
}

.vertical {
  writing-mode: vertical-rl;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
    height: auto;
    position: relative; /* fixed 위치를 relative로 변경 */
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }

  .grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .grid-item {
    width: 100%;
    border-right: none;
  }

    .main-content {
    margin-left: 0; /* side-menu 너비만큼의 여백 제거 */
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .primary-content {
    max-width: 100% !important;
    margin-bottom: 20px;
  }

  .secondary-content {
    border-top: none;
  }
}

@media (max-width: 480px) {
  header h1, .side-menu h1 {
    font-size: 1.5rem;
  }

 .primary-content h2, .secondary-content h2 {
    font-size: 0.9rem;
  }

  .primary-content p, .secondary-content p {
    font-size: 0.9rem;
  }
}
