@font-face {
  font-family: 'Orbit-Regular';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('Orbit-Regular.woff2') format('woff2');
}

:root {
  --border-color: black;
  --hover-color: #007cb8;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Orbit-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease, background-color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
  background-color: white;
}

h1, h2 {
  margin: 0;
}

.border {
  border: 1px solid var(--border-color);
}

.post-content, .post-header, .primary-content, .secondary-content {
  padding: 20px;
  box-sizing: border-box;
}

.post-header {
 margin: 0vw;
 width: 100%
}

.container {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
}

.side-menu, .additional-side-menu {
  background-color: var(--hover-color);
}

.side-menu {
  width: 20vw;
  border-right: 1px solid var(--border-color);
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  height: 100vh; /* 화면 전체 높이 차지 */
  overflow-y: auto; /* 내용이 많을 때 스크롤 가능 */
}

.main-content {
  margin-left: 20vw; /* side-menu의 너비만큼 왼쪽 여백 추가 */
  margin-right: 3vw; /* footer의 너비만큼 오른쪽 여백 추가 */
  width: calc(100% - 23vw); /* Adjusted width to exclude side-menu and footer */
  display: flex;
  flex-direction: row; /* Ensure primary and secondary content are laid out in a row */
  box-sizing: border-box;
}

.side-menu ul li a, .additional-side-menu ul li a {
  display: block;
  color: black;
  transition: background-color 0.3s ease;
}

.side-menu ul li a:hover {
  color: var(--hover-color);
  background-color: white;
}

.additional-side-menu {
  position: fixed;
  display: flex;
  width: 3vw;
  height: 100%;
  padding: 0.7vw;
  flex-direction: column;
  justify-content: flex-start; /* 아이템들을 위쪽에 정렬 */
  align-items: center; /* 아이템들을 수직 가운데에 정렬 */
  border-left: 1px solid var(--border-color);
  box-sizing: border-box;
}

.additional-side-menu span, .additional-side-menu a {
  display: flex;
  align-items: center;
  flex-direction: column; /* 아이템들을 수직으로 정렬 */
  margin-bottom: 20px; /* 아이템 간의 간격 설정 */
}

.additional-side-menu span:last-child, .additional-side-menu a:last-child {
  margin-bottom: 0; /* 마지막 아이템의 마진을 제거 */
}

.side-title {
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  writing-mode: vertical-lr;
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  width: 20vw;
  background-color: var(--hover-color);
}

.grid-item {
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  padding: 2vw;
  font-size: 1.7rem;
  transition: background-color 0.3s, color 0.3s;
}

.grid-item:hover, .grid-item a:hover {
  color: var(--hover-color);
  background-color: white;
}

.primary-content, .content {
  width: 50vw;
  box-sizing: border-box;
}

.content h2, .secondary-content h2 {
  font-size: 1.4em;
}

.primary-content p, .content p, .secondary-content p {
  line-height: 2.1;
}

.secondary-content {
  width: 27vw; /* Adjust width to fit with the primary content */
  box-sizing: border-box;
  border-left: 1px solid var(--border-color);
}

.h-entry, #search-bar, header, fieldset, section {
  padding: 20px;
}

#search-bar {
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#search-bar #search-input {
  width: 200px;
  border: none;
  line-height: 44px;
  outline: none;
}

header {
  width: calc(100% - 23vw); /* Adjusted width to exclude side-menu and footer */
  margin-left: 20vw; /* side-menu의 너비만큼 왼쪽 여백 추가 */
  text-align: left;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}

header h1 {
  font-size: 1.8rem;
}

footer {
  position: fixed;
  top: 0;
  right: 0;
  width: 3vw;
  height: 100vh; /* 화면 전체 높이 차지 */
  background-color: var(--hover-color);
  overflow-y: auto; /* 내용이 많을 때 스크롤 가능 */
}


/* 반응형 디자인 */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .side-menu {
    width: 97vw;
    height: auto;
    position: relative; /* fixed 위치를 relative로 변경 */
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }

  .grid-container {
    width: 97vw;
    display: flex;
    flex-direction: column;
  }
  
  .grid-item {
    width: 97vw;
    border-right: none;
  }
  
.main-content {
    margin-left: 0; /* side-menu 너비만큼의 여백 제거 */
    margin-right: 0; /* footer 너비만큼의 여백 제거 */
    width: 97vw;
    flex-direction: column;
  }
  
 .content, .primary-content, .secondary-content {
    width: 97vw;
    padding: 10px;
    flex-direction: column;
  }

  .primary-content {
    margin-bottom: 20px;
  }

 header {
    width: 97vw;
    margin-left: 0;
  }
  
 footer {
   font-size: 0.9rem;
 }   
}

@media (max-width: 480px) {
  header h1, .side-menu h1 {
    font-size: 1.5rem;
  }

  .primary-content h2, .secondary-content h2 {
    font-size: 0.9rem;
  }

  .primary-content p, .secondary-content p {
    font-size: 0.9rem;
  }
}
