@font-face {
  font-family: 'Orbit-Regular';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('Orbit-Regular.woff2') format('woff2');
}

:root {
  --border-color: black;
}

body, html {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Orbit-Regular";
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

a:hover {
  color: #007cb8;
}

p {
  margin-bottom: 1em;
}

.border, .border_top, .border_right {
  border: 1px solid var(--border-color);
}

.post-header {
  padding: 20px;
}

.container {
  display: flex;
  width: calc(100vw - 3vw);
  min-height: 100vh;
  background-color: #fff;
}

.side-menu, .additional-side-menu {
  min-height: 100vh;
  background-color: #007cb8;
  box-sizing: border-box;
}

.side-menu {
  width: calc((100vw - 3vw) / 4);
  border-right: 1px solid black;
  box-sizing: border-box;
  gap: 0px;
}

.additional-side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 3vw;
  padding: 0.7vw;
  border-left: 1px solid var(--border-color);
}

.side-menu h1, .additional-side-menu h1 {
  margin-top: 0;
  font-size: 1.5rem;
}

.side-menu ul, .additional-side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li, .additional-side-menu ul li {
  margin-bottom: 10px;
}

.side-menu ul li a, .additional-side-menu ul li a {
  color: #333;
  display: block;
  padding: 8px 0;
  transition: background-color 0.3s ease;
}

.additional-side-menu ul li a:hover {
  color: #007cb8;
}

.additional-side-menu ul li a i {
  margin-right: 10px;
  font-size: 2rem;
}

/* 그리드 항목 스타일 */
.grid-item {
    grid-template-columns: repeat(auto-fill, minmax(calc((100vw - 3vw) / 4), 1fr));
    border: 1px solid black; /* 그리드 항목 윤곽선 */
    text-align: center;
    background-color: #007cb8; /* 배경색 (선택사항) */
    padding: 2vw;
}

/* 링크 스타일 */
.grid-item a {
    text-decoration: none;
    color: black;
    display: block;
    background-color: #007cb8; /* 링크의 기본 배경색 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

/* 링크 호버 스타일 */
.grid-item a:hover {
    background-color: color: white; /* 호버 시 배경색을 변경 */
    color: #007cb8; /*호버 시 글자색을 배경색과 동일한 색으로 변경 */
}

.main-content {
  width: calc((100vw - 3vw) / 2);
  margin: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top: none;
}

.side_content {
  width: calc((100vw - 3vw) / 4);
  margin: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top: none;
  
.h-entry {
  padding: 20px;
        }

#search-bar {
    margin: 32px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 20px;
}

#search-bar #search-input {
    width: calc(100% - 30px);
    border: none;
    line-height: 44px;
    outline: none;
    border-style: none;
}

header, footer {
  text-align: center;
  padding: 0;
}

header {
  border-bottom: 1px solid var(--border-color);
  border-top: none;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

footer {
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  margin-top: 20px;
  clear: both;
}

fieldset {
  border: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button i {
  font-size: 16px;
}

.content {
  flex: 1;
  position: relative;
  border-top: none;
}

.content h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.content hr {
  height: 1px;
  border: 1px solid var(--border-color);
  margin: 20px 0;
  background-color: var(--border-color);
}

.content p {
  line-height: 2.3;
}

.horizontal {
  writing-mode: horizontal-tb;
}

.vertical {
  writing-mode: vertical-rl;
}

/* 회전된 텍스트 스타일 */
.rotated-text {
    display: inline-block; /* 회전할 요소를 inline-block으로 설정 */
    transform: rotate(90deg); /* 90도 회전 */
    transform-origin: left top; /* 회전 기준점 설정 */
    white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 설정 */
}
  
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .side-menu {
    flex: 1 0 auto;
    width: 97vw;
    height: 80vh;
    order: 1; /* 순서 변경 */
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }

  .additional-side-menu {
    font-size: 0.7rem;
  }
  
  .grid {
    flex: 1 0 auto; /* 자동 크기 조정 */
    width: 100%; /* 전체 너비로 설정 */
    order: 2; /* 순서 변경 */
  }  
  
  .main-content {
    width: 95vw;
  }
}

@media (max-width: 480px) {
  header h1, .side-menu h1 {
    font-size: 1.5em;
  }

  .content h2 {
    font-size: 0.9rem;
  }

  .content p {
    font-size: 0.9rem;
  }
}
