<!DOCTYPE html>
<html lang="ko">
<head>
    {% include meta.html %}
    <!-- Mermaid Mindmap -->
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
    <!-- tipuesearch -->
    <link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/tipuesearch/tipuesearch_content.js"></script>
    <script src="/assets/tipuesearch/tipuesearch_set.js"></script>
    <script src="/assets/tipuesearch/tipuesearch.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{{ site.baseurl }}/assets/js/search.js" defer></script>
    <script>
        function searchFunction() {
            var query = document.getElementById("searchInput").value;
            if (query) {
                window.location.href = '/search?q=' + encodeURIComponent(query);
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <aside class="side-menu">
            <h1>Jiwon Lee</h1>
            <ul>
                <li><a href="{{ site.baseurl }}/">홈</a></li>
                <li><a href="{{ site.baseurl }}/about">소개</a></li>
                <li><a href="{{ site.baseurl }}/archive">아카이브</a></li>
                <li><a href="{{ site.baseurl }}/etc">기타</a></li>
            </ul>
        </aside>
        <aside class="additional-side-menu">
            <ul>
                <li><a href="https://www.instagram.com/lfaye_ji/"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="mailto:lfaye1213@gmail.com"><i class="far fa-envelope"></i></a></li>
            </ul>
        </aside>
        <main class="main-content">
            {% include header.html %}
            {{ content }}
            {% include footer.html %}
        </main>
    </div>
</body>
</html>
