<!DOCTYPE html>
<html lang="ko">
<head>
    {% include meta.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% include header.html %}
    <div class="container">
        <aside class="side-menu">
            <ul>
                <li class="grid-item"><a href="{{ site.baseurl }}/">홈</a></li>
                <li class="grid-item"><a href="{{ site.baseurl }}/about">소개</a></li>
                <li class="grid-item"><a href="{{ site.baseurl }}/archive">아카이브</a></li>
                <li class="grid-item"><a href="{{ site.baseurl }}/etc">기타</a></li>
            </ul>
        </aside>     
        <main class="main-content">
            {{ content }}
        </main>
        <main class="side-content">
            {{ side-content }}
        </main>
        {% include footer.html %}
    </div>
</body>
</html>
