<!DOCTYPE html>
<html lang="ko">
<head>
    {% include meta.html %}
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <aside class="side-menu">
            <h1>Jiwon Lee</h1>
            <ul>
                <li><a href="{{ site.baseurl }}/">홈</a></li>
                <li><a href="{{ site.baseurl }}/about">소개</a></li>
                <li><a href="{{ site.baseurl }}/archive">아카이브</a></li>
                <li><a href="{{ site.baseurl }}/etc">기타</a></li>
            </ul>
        </aside>
        <aside class="additional-side-menu">
            <ul>
                <li><a href="https://www.instagram.com/lfaye_ji/"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="mailto:lfaye1213@gmail.com"><i class="far fa-envelope"></i></a></li>
            </ul>
        </aside>
        <main class="main-content">
            {% include header.html %}
            {{ content }}
            {% include footer.html %}
        </main>
    </div>
</body>
</html>
